<h1> <center> Create Section </center> </h1>

<%= form_for(@section , :url => sections_path , :method => "post" , :html => {class: 'col-lg-8 col-lg-offset-2'}) do |f| %>
  
  <%= render(:partial => "form" , :locals => {:f => f }) %>
  <div class="form-group">
    <%= f.submit("Create", :class => "btn btn-primary form-control") %>
  </div>
<% end %>